table {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;

  .large-th {
    min-width: 550px;
  }

  .medium-th {
    min-width: 150px;
  }

  .small-th {
    min-width: 150px;
  }
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

mat-progress-spinner {
  margin: 0 auto;
  margin-top: 150px;
}
